/* 
    global
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  /* background-image: radial-gradient(rgb(56, 55, 55), rgb(26, 24, 24)); */
  /* Pattern from https://www.heropatterns.com/ */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23540606' fill-opacity='0.4'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  color: #fff;
  min-height: 100vh;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* navigation main */
.nav-main {
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 10px 0;
}

.nav-logo {
  width: 12%;
}

/* navigation left  */
.nav-main ul {
  display: flex;
}

.nav-main ul li {
  padding: 10px;
}

.nav-main ul li a {
  padding: 2px;
}

.nav-main ul li a:hover {
  border-bottom: 2px solid #fff;
}

.nav-main ul.nav-menu-left {
  flex: 1;
  margin-left: 20px;
}

hr {
  margin: 10px 0;
}

/* SHOWCASE */
.showcase {
  width: 100%;
  height: 550px;
  background: url(/img/showcase2.jpg) no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
}

.showcase h2,
.showcase p {
  margin-bottom: 10px;
  padding: 5px;
}

/* Responsive button */

.btn {
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding: 10px 20px;
  background: #262626;
  color: #fff;
  border: 1px solid #fff;
}

.btn:hover {
  opacity: 0.6;
}

/* News Cards */
.news-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  margin-bottom: 15px;
}

.news-cards img {
  width: 100%;
  height: 150px;
}

.news-cards h3 {
  font-size: 18px;
  padding: 5px 0;
}

.news-cards p {
  padding-bottom: 5px;
}

.news-cards a {
  font-weight: bold;
}

.news-cards a:hover {
  border-bottom: 2px solid #fff;
}

/* cards banner one */
.cards-banner-one {
  width: 100%;
  height: 300px;
  background: url(/img/tech-red.jpg) no-repeat center center/cover;
  margin: 15px 0;
}

.content {
  width: 40%;
  padding: 75px 0 0 20px;
}

.cards-banner-one h2,
.cards-banner-one p {
  margin-bottom: 10px;
}

/* cards banner two */
.two {
  background: url(/img/image-five.jpg) no-repeat center center/cover;
}

/* social */
.social {
  width: 100%;
  height: 100px;
}

.social p {
  font-size: 30px;
  text-align: center;
  padding-bottom: 10px;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links a {
  padding: 0px 20px;
}

.links a i {
  font-size: 2rem;
}

/* footer links */
.footer-links {
  width: 100%;
  height: 250px;
  background: rgb(34, 33, 33);
  margin-top: 20px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
}

.footer-container ul {
  margin: 0 auto;
}

.footer-container ul li {
  line-height: 2;
}

/* footer  copyright*/
.footer {
  background: rgb(34, 33, 33);
  color: rgb(238, 196, 196);
  font-size: 15px;
  text-align: center;
  padding: 15px 0;
}
